header {
    display: flex;
    justify-content: space-between;
    padding: 0 3em;
    background: transparent radial-gradient(closest-side at 50% 50%, #A50C0C 0%, #430606 100%) 0% 0% no-repeat padding-box;
}


body {
    margin: 0;
}
main {
    flex-direction: column;
}
button{
    font-size: 20px;
    border: 3px solid #B20F0F;
    border-radius: 49px;
    padding: 0.3em 0.9em;
    width: 70%;
    height: 50%;
    margin: 0.5em 1em;
    background: transparent radial-gradient(closest-side at 50% 50%, #BC0303 0%, #840A0A 100%) 0% 0% no-repeat padding-box;
}
.basecontainer {
    background: transparent linear-gradient(180deg, #A50C0C 0%, #A50C0C 0%, #240606 100%) 0% 0% no-repeat padding-box;
}
.friends {
    border: 3px dashed #B20F0F;
}
.show{
    font-size: initial;
    background: transparent linear-gradient( 180deg, #A50C0C 0%, #240606 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 33px;
    width: 35%;
    color: black;
    margin: auto;
}


section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5em;
}

.Friend > h2 > div > img {
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2{
    margin: 0;
    border-left: 3px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:center;
}
input {
    border: none;
    border-bottom: 1px solid #FFFFFFDB;
    padding: 1em;
    margin: 0.5em 1em;
    width: 30%;
    text-align: center;
    color: #FFFFFFDB;
    font-size: x-small;
    background-color: transparent;
}
.Friend {
    color: #FFFFFFDB;
}
ul{
    font-size: x-small;
}

buttonAF {
    font-size: 15px;
    height: min-content;
    background: transparent linear-gradient( 180deg, #A50C0C 0%, #240606 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 33px;
    width: 40%;
    color: black;
    line-height: 3em;
    justify-content:end;
    margin: 26.95em 0 1em 0;
    text-align:center;
}
.Friend > h1 > ul > li > div > img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
}
h1{
    display:flex;
    margin-bottom: 0.37em;
}
.Friend > h1 > ul{
    margin-left: 1em;
}
.Friend > h1 > ul > li{
    display:flex;
    margin-bottom:1em;
}
.tekst{
    display:flex;
    flex-direction:column;
    margin-left:1em;
    justify-content:center;
    font-size: initial;
}
Gtext{
    font-size: 25px;
    margin-bottom:0.2em;
}
h2> ul{
    margin-top: 0.5em;
    list-style-type: none;
    padding: 0;
}
