header {
    display: flex;
    justify-content: space-between;
    padding: 0 3em;
    background: transparent radial-gradient(closest-side at 50% 50%, #A50C0C 0%, #430606 100%) 0% 0% no-repeat padding-box;
}
main {
    flex-direction: column;
}
body {
    margin: 0;
}
button{
    font-size: 20px;
    border: 3px solid #B20F0F;
    border-radius: 49px;
    padding: 0.3em 0.9em;
    width: 70%;
    height: 50%;
    margin: 0.5em 1em;
    background: transparent radial-gradient(closest-side at 50% 50%, #BC0303 0%, #840A0A 100%) 0% 0% no-repeat padding-box;
}
.profile{
    border: 3px dashed #B20F0F;
}
.basecontainer {
    background: transparent linear-gradient(180deg, #A50C0C 0%, #A50C0C 0%, #240606 100%) 0% 0% no-repeat padding-box;
}
section > h1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    margin-bottom: auto;
    margin-top: auto;
}
section > h2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}
.Info > h1 > div > img {
    border: 50px black;
    margin-top: 1em;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.Info > h2 > ul > div > img {
    border: 50px black;
    height: auto;
    max-height: 70%;
    width: auto;
    max-width: 70%;
    object-fit: cover;
    border-radius: 19px;
    margin-top: 0.5em;
}
.Info {
    color: #FFFFFFDB;
}
input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
    border-bottom: 1px solid #FFFFFFDB;
    text-align: center;
    color: #FFFFFFDB;
    font-size: initial;
}
ul {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    list-style-type: none;
}
li {
    text-align:center;
    font-size: initial;
}
h2{
    margin:0;
    padding-top:0; 
}
div{
    text-align: center;

}
h2 > ul {
    margin-top: 0;
    margin-bottom: 1.1em;

}
h2 > ul > li > input{
    margin: auto;
    padding: revert;
}

