@charset "utf-8";
section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4em;
    padding: 4em;
    overflow: auto;
}

body {
    margin: 0;
}
.projects > div > img {
    border: 50px;
    border-color: black;
    height: 50%;
    width: 80%;
    object-fit: cover;
    border-radius: 19px;
}


.projects > div > div {
    margin: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.projects > div > div i {
    opacity: 0.3;
}

.projects > div > div i:hover {
    opacity: 0.7;
}

p{
    font-size: small;
}
.projects > div {
    justify-content: flex-end;
    border: none;
    background: transparent linear-gradient(180deg, #B90F0F63 0%, #36011B 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}

.projects > div > div:last-child {
    height: 5%;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    color: red;
}

h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: large;
}
  
main {
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0em 6em;
    background: transparent radial-gradient(closest-side at 50% 50%, #A50C0C 0%, #430606 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}

.search-bar > form > input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 23px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.72px;
    color: #A8A8A8;
    margin: 0;
    box-sizing: border-box;
}


buttonSh {
    opacity: 0.7;
    font-size: 14px;
    background: red;
    border-radius: 19px;
    width: 25%;
    border: none;
    color: black;
    text-align: center;
    font-weight: bold;
}

buttonSh:hover {
    opacity: 0.9;
}

button{
    font-size: 20px;
    border: 3px solid #B20F0F;
    border-radius: 49px;
    padding: 0.3em 0.9em;
    width: 70%;
    height: 50%;
    margin: 0.5em 1em;
    background: transparent radial-gradient(closest-side at 50% 50%, #BC0303 0%, #840A0A 100%) 0% 0% no-repeat padding-box;
}
.basecontainer {
    background: transparent linear-gradient(180deg, #A50C0C 0%, #A50C0C 0%, #240606 100%) 0% 0% no-repeat padding-box;
}
.news {
    border: 3px dashed #B20F0F;
}



