header {
    display: flex;
    justify-content: space-between;
    padding: 0em 6em;
    background: transparent radial-gradient(closest-side at 50% 50%, #A50C0C 0%, #430606 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}

main {
    flex-direction: column;
}

/*buttonMainBar {*/
/*    font-size: 35px;*/
/*    border: 3px solid #B20F0F;*/
/*    border-radius: 49px;*/
/*    padding: 0.3em 0.9em;*/
/*    width: 70%;*/
/*    height: 10px;*/
/*    margin: 1em;*/
/*    line-height: 3em;*/
/*}*/

/*buttonMainBarS {*/
/*    font-size: 35px;*/
/*    border: 3px dashed #B20F0F;*/
/*    border-radius: 49px;*/
/*    padding: 0.3em 0.9em;*/
/*    width: 70%;*/
/*    height: 10px;*/
/*    margin: 1em;*/
/*    line-height: 3em;*/
/*}*/
buttonR {
    display:flex;
    flex-direction:row;
    font-size: 16px;
    background: transparent radial-gradient(closest-side at 50% 50%, #BC0303 0%, #840A0A 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    width: 50%;
    border: 3px solid black;
    color: white;
    margin: 1em;
    line-height: 3em;
    justify-content:space-between;
    padding-left:0.5em;
}
buttonW {
    font-size: 14px;
    background: transparent linear-gradient( 180deg, #A50C0C 0%, #240606 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    width: 60%;
    color: white;
    margin: 1em;
    line-height: 3em;
    text-align:center;
    margin-top:20em;
}
ul {
    margin: 0;
    border-right: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height:100%;
}
section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    height:30.67em;
}
li {
    margin: 0;
    display: flex;
    justify-content: center;
    width: max-content;
}
/*buttonR > i {*/
/*    margin:auto;*/
/*    margin-right:1em;*/
/*}*/

body {
    margin: 0;
}
main {
    flex-direction: column;
}
button{
    font-size: 20px;
    border: 3px solid #B20F0F;
    border-radius: 49px;
    padding: 0.3em 0.9em;
    width: 70%;
    height: 50%;
    margin: 0.5em 1em;
    background: transparent radial-gradient(closest-side at 50% 50%, #BC0303 0%, #840A0A 100%) 0% 0% no-repeat padding-box;
}
.basecontainer {
    background: transparent linear-gradient(180deg, #A50C0C 0%, #A50C0C 0%, #240606 100%) 0% 0% no-repeat padding-box;
}
.records {
    border: 3px dashed #B20F0F;
}
.answer {
    margin:auto;
    margin-right:2em;
    width: 100%;
    margin-left: 2em;
    border: none;
}
.show{
    font-size: initial;
    background: transparent linear-gradient( 180deg, #A50C0C 0%, #240606 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 33px;
    width: 35%;
    color: black;
    margin: auto;
}




.custom-select {
    position: relative;
    width: 200px;
}


select {
    width: 200px;
    background: #840A0A;
    border: 1px solid black;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

