body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #A50C0C 0%, #A50C0C 0%, #240606 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    height: 20vh;
    margin: 4em;
    margin-bottom: 26em;
    margin-right: 32px;
}

.logincontainer {
    width: 60%;
}


form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: #FFFFFFE0 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 33px;

}

button {
    font-size: 14px;
    background: transparent linear-gradient( 180deg, #A50C0C 0%, #240606 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 19px;
    width: 45%;
    border: none;
    color: white;
    line-height: 3em;
    margin:auto;
}
input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
}
.basecontainer {
    background: transparent linear-gradient(180deg, #A50C0C 0%, #A50C0C 0%, #240606 100%) 0% 0% no-repeat padding-box;
}
ul {
    list-style-type: none;
    width: auto;
    margin-left: 1em;
    padding: 0;
}

